@page
@model ContactModel
@{
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    г.Обнинск<br />
    Калужская область<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Поддержка:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Продажи:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
